<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-green-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
    <!-- APP TITLE -->
    <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon style="color:white;" class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">developer_board</mat-icon>
      <span style="color:white;" class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Rescate Cliente </span>
    </div>
    <!-- / APP TITLE -->
  </div>

  <div class="content p-24">

    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayout.gt-md="row">

      <!-- REACTIVE FORM EXAMPLE -->

      <div class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
           fxFlex="1 0 auto">
        <div class="accent-500-bg mat-elevation-z4 p-12" fxFlex="0 0 auto" fxFlex.gt-sm="50" fxFlex.gt-md="100">
          <h1 style="color:white;">FONDO MUTUO A RESCATAR</h1>
        </div>

        <!-- MEDIO DE PAGO -->
        <div class="accent-500-bg mat-elevation-z4 p-12" fxFlex="0 0 auto" fxFlex.gt-sm="50" fxFlex.gt-md="100">
          <h2 style="color:white;">
              <label id="tp-radio-group-label">
                Medio de Pago
              </label>
          </h2>
        </div>
        <mat-radio-group
          aria-labelledby="tp-radio-group-label"
          class = "tp-radio-group"
          name="selectedMedioPago"
          (change)="medioPagoChangeAction(selectedMedioPago)"
          [(ngModel)] = "selectedMedioPago"
        >
          <mat-radio-button
            class = "tp-radio-button"
            *ngFor = "let tipoPago of tipoMedioPago"
            [value] = "tipoPago.valueHerramPago"
          >
            {{tipoPago.nameHerramPago}}
          </mat-radio-button>
        </mat-radio-group>
        <!--
        <p><b>Seleccionado: {{selectedMedioPago}}</b></p>
        -->

        <h3>Opción de Medio de Pago</h3>
        <mat-form-field appearance="fill">
          <mat-label id="opcion_herram_pago">{{opcion_herram_pago}}</mat-label>
          <mat-select
            [(ngModel)]="selectedHerramPago"
            name="tipoHerramPago"
          >
            <mat-option
              *ngFor="let herramPago of tiposHerramPago"
              [value]="herramPago.value"
            >
              {{herramPago.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--
        <p><b>Seleccionado: {{selectedHerramPago}}</b></p>
        -->

        <!-- TIPO DE RESCATE Y FECHA DE PAGO -->
        <div class="accent-500-bg mat-elevation-z4 p-12" fxFlex="0 0 auto" fxFlex.gt-sm="50" fxFlex.gt-md="100">
          <h2 style="color:white;">
              Tipo de Rescate y Fecha de Pago
          </h2>
        </div>
        <h3>Fecha de Pago</h3>
        <mat-form-field appearance="fill">
          <mat-label>Seleccione una fecha</mat-label>
          <input matInput [matDatepickerFilter]="datepickerFilter" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <h3>Tipo de Rescate</h3>
        <mat-form-field appearance="fill">
          <mat-label>Seleccione un Tipo de Rescate</mat-label>
          <mat-select [(ngModel)]="selectedRescate" name="tiposRescate">
            <mat-option *ngFor="let tipoRescate of tiposRescate" [value]="tipoRescate.value">
              {{tipoRescate.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- MONTO A RESCATAR -->
        <div class="accent-500-bg mat-elevation-z4 p-12" fxFlex="0 0 auto" fxFlex.gt-sm="50" fxFlex.gt-md="100">
          <h2 style="color:white;">Monto a Rescatar</h2>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Digite el monto a rescatar</mat-label>
          <span matPrefix>$ &nbsp;</span>
          <input type="number" matInput placeholder="Ej. 1000">
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 1 auto">
          <button class="mat-blue-bg i1" mat-raised-button
                  [routerLink]="'/apps/cliente/habilitar-cliente'"
          >
            <span>ACEPTAR</span>
          </button>
        </div>

      </div>
    </div>
  </div>
  <!-- / CONTENT -->

</div>



